.ed-container {
  display: flex;
  width: 855px;
  justify-content: space-between;
  margin: 0 auto 72px auto;
}
.ed-container > div:last-child {
  margin-right: 0;
}
.single-item {
  margin-bottom: 20px;
}
.small-year {
  color: #ccc;
  font-size: 9px;
  margin-bottom: 20px;
}
.job-title {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.firm,
.duration {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #bbb;
}
@media only screen and (max-width: 799px) {
  .ed-container {
    width: 100%;
    flex-direction: column;
  }
  .ed-container > div,
  .single-item {
    margin-right: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
