.container {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
.d-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h5 {
  color: #777;
  font-weight: 300;
  font-family: "Verdana";
}
.block-title {
  font-family: "Times New Roman";
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}
hr {
  width: 100%;
  border-bottom: 0.5px solid #ddd;
}
.mb-large {
  margin-bottom: 30px;
}
@media only screen and (max-width: 799px) {
  .container {
    padding: 20px 20px;
  }
}
